# Shelby Protocol Network & API Credentials
# Get your API key from the Shelby Protocol Developer Portal (https://shelby.xyz)

# Public API Key (Client-side browser SDK)
NEXT_PUBLIC_SHELBY_API_KEY=anonymous

# Target Network: 'mainnet' or 'testnet'
NEXT_PUBLIC_SHELBY_NETWORK=mainnet

# Shelby Public CDN Base URL
NEXT_PUBLIC_SHELBY_PUBLIC_BASE_URL=https://api.mainnet.shelby.xyz

# Secret API Key (Server-side Node SDK API Route)
SHELBY_SECRET_API_KEY=
